<% include ../partials/header.ejs %>

<div class="container">
    <div class="jumbotron" align="center">
        <h1>Share a New Restaurant with Us</h1>
    
        <form action="/restaurants" method="POST">
            <div class="form-group">
                <input class="form-control long-input" type="text" name="name" placeholder="Restaurant Name">
            </div>
            <div class="form-group">
                <input class="form-control long-input" type="text" name="image" placeholder="Restaurant Image URL">
            </div>
            <div class="form-group">
                <input class="form-control long-input" type="text" name="location" id="location" placeholder="Restaurant Address">
            </div>
            <div class="form-group">
                <select class="form-control long-input" name="tag">
                    <option value="American">American</option>
                    <option value="Mexican">Mexican</option>
                    <option value="Italian">Italian</option>
                    <option value="Indian">Indian</option>
                    <option value="Bar">Bar</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Korean">Korean</option>
                    <option value="Fast Food">Fast Food</option>
                    <option value="French">French</option>
                    <option value="Kosher">Kosher</option>
                    <option value="Greek">Greek</option>
                    <option value="Mediterranean">Mediterranean</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control long-input" name="price">
                    <option value="Below 10$">Below 10$</option>
                    <option value="10$-30$">10$-30$</option>
                    <option value="30$-50$">30$-50$</option>
                    <option value="Above 50$">Above 50$</option>
                </select>
            </div>
            <div class="form-group">
                <textarea class="form-control long-input" rows="5" name="description" placeholder="Describe this restaurant here"></textarea>
            </div>
            <div class="form-group">
            <button class="btn btn-lg btn-success">Submit</button>
            </div>
            <a href="/restaurants">Go Back</a>
        </form>
    </div>
</div>

<% include ../partials/footer.ejs %>